{% if messages %}
{%load static%}
{%block 'liks' %} <link rel="stylesheet" type="text/css" href="{% static 'css\_mensagens.css' %}">{%endblock%}
<br>
    {% for message in messages %}
            <div class="alert {{message.tags }}" role="alert">
                {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    {%endfor %}
{% endif %}