.form_pesquisa{
    padding: 16px;
    display: flex;
    justify-content: center;
    gap: 12px;
}
.edtpequisaprodutos{
    padding-left: 8px;
    border: none;
    border-radius: 4px;
    height: 32px;
    width: 350px;
    color: #202022;
    font-weight: 600;
    font-size: 16px;
}
.btnpesquisa{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 2px;
    border: none;
    border-radius: 4px;
    color: #202022;
    font-weight: 600;
    font-size: 16px;
    height: 32px;
    width: 120px;
}
.img_btnpesquisa{
    width: 17px;
    height: auto;
}
.menu {
    background-color: #f1f1f1;
    padding: 10px;
}

.menu-categorias {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-categorias li {
    display: inline-block;
    margin-right: 10px;
}

.menu-categorias li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.menu-categorias li a:hover {
    background-color: #ccc;
}